.hab{
    &__container{
        padding-top: $header-height;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        row-gap: 56px;
    }
    &__text{
        &--wrapper{
            display: flex;
            flex-direction: column;
            row-gap: 16px;
        }
    }
}